[BASIC]

max-args=15
max-locals=30
max-attributes=15

min-similarity-lines=7

[MESSAGES CONTROL]

disable=
  # handled by black
  format,
  # code intentionally includes a large number of similarities
  similarities,
  consider-using-enumerate,
  no-else-return,
  unnecessary-comprehension,
  inconsistent-return-statements,
  too-many-return-statements,
  too-many-branches,
  chained-comparison,
  cyclic-import,
  too-many-statements,
  invalid-name,
  missing-module-docstring,
  missing-function-docstring,
  bare-except,

[REPORTS]

output-format=parseable

[TYPECHECK]

generated-members=self.service.spreadsheets
